$color_bg: #000000; // Dark background like CMD
$color_punct: #00FF00; // Green punctuation
$color_key: #7FFF00; // Light green for keys
$color_value: #FFFFFF; // White for values
$color_hover: #00FF00; // Bright green for hover

// No text transformation for a raw CMD look
$transform_key: none;
$transform_value: none;

@import "default";
@import "custom";